.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

body{
    background-color: #FFE8D6;
}

.logo{
    border-radius: 20px;
}

.search{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color: white;
  border-radius: 15px;
  border: 10px solid #B7B7A4;
  color: rgb(0, 0, 0);
}

.nav-list{
    font-weight: lighter;
    text-align: center;
}

.nav-btn{
    font-weight: lighter;
    text-align: center;
    font-size: x-large;
    border-radius: 20px;
    border: none;
    padding: 8px 30px 8px 30px ;
    background-color: #B7B7A4;
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav-btn:hover{
    text-decoration: underline;
}


.hr-line{
    border: 2px solid #6B705C;
    border-radius: 5px;
    width: 90%;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
    padding-bottom: 110px;
}

.start{
    font-weight: lighter;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    border: none;
    padding: 15px 40px 15px 40px ;
    background-color: #CB997E;
    text-align: center;
    text-decoration: none;
    color: white;
}

.start:hover{
    text-decoration: underline;
}

.titel{
    font-size: 5em;
}


.Join-Us{
    font-weight: lighter;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.500);
}

.list {
    position: relative;
    display: inline-block;
}

.sections:hover {background-color: rgb(136, 100, 100);}

.list:hover .sections {display: block;}

.list:hover .start {background-color: #98b099;}
  
.sections{
    display: none;
    position: absolute;
    background-color: #965b5b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}